name: not-one-password
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: go-app
    ports:
      - "${APP_PORT}:8080"
    environment:
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      APP_PORT: ${APP_PORT}
    depends_on:
      migrate:
        condition: service_completed_successfully
    volumes:
      - .:/app
    command: air -c .air.toml
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: ${POSTGRES_HOST}
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      APP_PORT: ${APP_PORT}
    volumes:
      - .:/app
    working_dir: /app
    command: >
      goose -dir internal/db/migrations postgres
      "host=${POSTGRES_HOST} port=${POSTGRES_PORT}
      user=${POSTGRES_USER} password=${POSTGRES_PASSWORD}
      dbname=${POSTGRES_DB} sslmode=disable"
      up
  db:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  pgdata:
